[submodule "pkg/loader/golden_test/tf/example-terraform-modules"]
	path = pkg/loader/golden_test/tf/example-terraform-modules
	url = https://github.com/jaspervdj-luminal/example-terraform-modules.git
